.custom404 {
  text-align: center;
}

.actions {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 766px) {
  .actions {
    flex-direction: column;
    align-items: center;
  }
}